In [2]:
import pandas as pd
import numpy as np

## Datetime

In [8]:
from  datetime  import  datetime
now = datetime.now()
now

datetime.datetime(2018, 12, 11, 23, 24, 55, 895371)

In [3]:
now.year

2018

In [6]:
delta  =  datetime ( 2018 ,  12 ,  11 )  -  datetime ( 2018 ,  9 ,  1 ,  8 ,  15 )

In [7]:
delta.days

100

In [8]:
delta.seconds

56700

## timedelta

In [12]:
from  datetime  import  timedelta
start  =  datetime ( 2018 ,  9 ,  1 )

#Use arithmetics on time
start  +  timedelta ( 101 )

datetime.datetime(2018, 12, 11, 0, 0)

## Converting Between String and Datetime

In [22]:
stamp = datetime(2019, 12, 21)
str(stamp)

'2019-12-21 00:00:00'

In [23]:
stamp.strftime('%Y- %m- %d')

'2019- 12- 21'

In [19]:
stamp.strftime('%Y- %d- %m')

'2019- 21- 12'

In [16]:
value  =  '2011-01-03'
datetime.strptime(value ,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
datestrs = '7/6/2011'
datetime.strptime (datestrs, '%m/%d/%Y')

datetime.datetime(2011, 7, 6, 0, 0)

### parsing strings to time

In [25]:
from  dateutil.parser  import  parse
parse ( '2011-01-03' )

datetime.datetime(2011, 1, 3, 0, 0)

In [26]:
parse ( 'Jan 31, 1997 10:45 PM' )

datetime.datetime(1997, 1, 31, 22, 45)

In [27]:
parse ( '6/12/2011' ,  dayfirst = True )

datetime.datetime(2011, 12, 6, 0, 0)

**Issue with the parse() from python dateutil**

In [28]:
parse ( '42-01-03' )

datetime.datetime(2042, 1, 3, 0, 0)

## Pandas datetime

In [29]:
datestrs  =  [ '2011-07-06 12:00:00' ,  '2011-08-06 00:00:00' , None]
idx = pd.to_datetime ( datestrs )
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
idx.isnull()

array([False, False,  True])

## Time Series

In [32]:
dates = [datetime(2011,1,2),datetime(2011,1,5 ),datetime(2011, 1 ,7 ),
         datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [34]:
ts  =  pd.Series ( np.random.randn(6), index = dates )
ts

2011-01-02   -0.117439
2011-01-05    1.886003
2011-01-07    1.165808
2011-01-08   -1.344966
2011-01-10    1.097109
2011-01-12   -0.397375
dtype: float64

Under the hood, these datetime  objects have been put in a DatetimeIndex

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

Arithmetic operations between differently indexed time series auto‐ matically align on the dates

In [37]:
ts [:: 2 ]

2011-01-02   -0.117439
2011-01-07    1.165808
2011-01-10    1.097109
dtype: float64

In [38]:
ts+ts [:: 2 ]

2011-01-02   -0.234878
2011-01-05         NaN
2011-01-07    2.331616
2011-01-08         NaN
2011-01-10    2.194218
2011-01-12         NaN
dtype: float64

## Slicing time series

In [39]:
ts [ '1/10/2011' ]

1.0971089762538346

In [40]:
ts [ '20110110' ]

1.0971089762538346

In [44]:
longer_ts  =  pd.Series ( np . random . randn ( 1000 ), 
                          index = pd . date_range ( '1/1/2000' ,  periods = 1000 ))
longer_ts.tail(5)

2002-09-22   -0.957844
2002-09-23   -0.766700
2002-09-24    1.096171
2002-09-25   -0.041056
2002-09-26    0.495713
Freq: D, dtype: float64

In [47]:
longer_ts['2001']

2001-01-01   -0.829594
2001-01-02    1.344570
2001-01-03   -1.553394
2001-01-04    0.801632
2001-01-05    0.370775
2001-01-06   -0.437142
2001-01-07   -1.103523
2001-01-08    1.759118
2001-01-09   -0.034778
2001-01-10   -0.770878
2001-01-11    1.194396
2001-01-12    0.650146
2001-01-13   -1.662119
2001-01-14   -0.309571
2001-01-15   -0.694618
2001-01-16    0.626939
2001-01-17   -0.192468
2001-01-18    0.032879
2001-01-19    0.835725
2001-01-20   -0.592038
2001-01-21    1.153393
2001-01-22    1.431968
2001-01-23    2.060851
2001-01-24    0.514950
2001-01-25    0.571579
2001-01-26    0.251708
2001-01-27    0.875653
2001-01-28   -1.627248
2001-01-29    0.131925
2001-01-30    0.664507
                ...
2001-12-02   -1.768003
2001-12-03    0.596754
2001-12-04   -1.906354
2001-12-05   -0.970195
2001-12-06    1.073214
2001-12-07   -1.879994
2001-12-08   -0.180672
2001-12-09    0.267773
2001-12-10   -1.158514
2001-12-11   -0.039927
2001-12-12   -0.088011
2001-12-13    0.431101
2001-12-14    0.152078
2001-12-15    0.617755
2001-12-16    0.715567
2001-12-17   -0.364150
2001-12-18   -1.996030
2001-12-19    1.798023
2001-12-20    0.517667
2001-12-21    1.007420
2001-12-22   -0.159762
2001-12-23    0.962788
2001-12-24   -0.216683
2001-12-25   -0.048070
2001-12-26    1.499184
2001-12-27    1.102334
2001-12-28   -0.644092
2001-12-29   -1.524772
2001-12-30   -0.969484
2001-12-31   -0.249460
Freq: D, Length: 365, dtype: float64

In [48]:
longer_ts['2002-02']

2002-02-01   -2.257218
2002-02-02   -0.936418
2002-02-03   -0.581797
2002-02-04    0.344075
2002-02-05   -0.740952
2002-02-06   -1.822563
2002-02-07    1.308292
2002-02-08   -0.906242
2002-02-09    0.127013
2002-02-10   -0.175746
2002-02-11    1.300539
2002-02-12    0.109031
2002-02-13    0.858897
2002-02-14   -0.473946
2002-02-15   -0.712549
2002-02-16   -0.828730
2002-02-17    0.288429
2002-02-18    0.281335
2002-02-19   -0.648191
2002-02-20    0.390022
2002-02-21    0.407036
2002-02-22    1.609332
2002-02-23    1.200853
2002-02-24   -0.171871
2002-02-25    0.316062
2002-02-26    0.641806
2002-02-27   -0.520172
2002-02-28   -2.642871
Freq: D, dtype: float64

In [49]:
longer_ts[datetime(2002,9,15):]

2002-09-15    1.777349
2002-09-16    0.631794
2002-09-17   -0.442157
2002-09-18    1.052255
2002-09-19   -1.006708
2002-09-20   -0.888763
2002-09-21   -1.420475
2002-09-22   -0.957844
2002-09-23   -0.766700
2002-09-24    1.096171
2002-09-25   -0.041056
2002-09-26    0.495713
Freq: D, dtype: float64

In [50]:
longer_ts['2002-9-9':'2002/9/20']

2002-09-09   -0.023839
2002-09-10    0.400384
2002-09-11    2.315030
2002-09-12    0.901885
2002-09-13    2.109120
2002-09-14    2.222948
2002-09-15    1.777349
2002-09-16    0.631794
2002-09-17   -0.442157
2002-09-18    1.052255
2002-09-19   -1.006708
2002-09-20   -0.888763
Freq: D, dtype: float64

## Time series on dataframes

In [3]:
dates2 = pd.date_range('1,1,2019', periods=100 , freq='W-TUE')
dates2

DatetimeIndex(['2019-01-01', '2019-01-08', '2019-01-15', '2019-01-22',
               '2019-01-29', '2019-02-05', '2019-02-12', '2019-02-19',
               '2019-02-26', '2019-03-05', '2019-03-12', '2019-03-19',
               '2019-03-26', '2019-04-02', '2019-04-09', '2019-04-16',
               '2019-04-23', '2019-04-30', '2019-05-07', '2019-05-14',
               '2019-05-21', '2019-05-28', '2019-06-04', '2019-06-11',
               '2019-06-18', '2019-06-25', '2019-07-02', '2019-07-09',
               '2019-07-16', '2019-07-23', '2019-07-30', '2019-08-06',
               '2019-08-13', '2019-08-20', '2019-08-27', '2019-09-03',
               '2019-09-10', '2019-09-17', '2019-09-24', '2019-10-01',
               '2019-10-08', '2019-10-15', '2019-10-22', '2019-10-29',
               '2019-11-05', '2019-11-12', '2019-11-19', '2019-11-26',
               '2019-12-03', '2019-12-10', '2019-12-17', '2019-12-24',
               '2019-12-31', '2020-01-07', '2020-01-14', '2020-01-21',
               '2020-01-28', '2020-02-04', '2020-02-11', '2020-02-18',
               '2020-02-25', '2020-03-03', '2020-03-10', '2020-03-17',
               '2020-03-24', '2020-03-31', '2020-04-07', '2020-04-14',
               '2020-04-21', '2020-04-28', '2020-05-05', '2020-05-12',
               '2020-05-19', '2020-05-26', '2020-06-02', '2020-06-09',
               '2020-06-16', '2020-06-23', '2020-06-30', '2020-07-07',
               '2020-07-14', '2020-07-21', '2020-07-28', '2020-08-04',
               '2020-08-11', '2020-08-18', '2020-08-25', '2020-09-01',
               '2020-09-08', '2020-09-15', '2020-09-22', '2020-09-29',
               '2020-10-06', '2020-10-13', '2020-10-20', '2020-10-27',
               '2020-11-03', '2020-11-10', '2020-11-17', '2020-11-24'],
              dtype='datetime64[ns]', freq='W-TUE')

In [4]:
long_df = pd.DataFrame(np.random.rand(100,4), 
                      index = dates2, 
                      columns = ['BC', 'AB', 'ON', 'QC'])
long_df

                  BC        AB        ON        QC
2019-01-01  0.958343  0.140084  0.742973  0.520276
2019-01-08  0.683839  0.133487  0.914760  0.673614
2019-01-15  0.165421  0.643793  0.267225  0.037988
2019-01-22  0.812348  0.754504  0.135546  0.156330
2019-01-29  0.276116  0.696874  0.101818  0.530066
2019-02-05  0.424540  0.876333  0.760724  0.440854
2019-02-12  0.060537  0.007704  0.885062  0.591942
2019-02-19  0.557457  0.162332  0.777543  0.802119
2019-02-26  0.293810  0.577668  0.381289  0.269108
2019-03-05  0.951365  0.187783  0.274313  0.572033
2019-03-12  0.909822  0.094587  0.562674  0.488636
2019-03-19  0.100170  0.557778  0.656121  0.805825
2019-03-26  0.118895  0.903179  0.133615  0.213130
2019-04-02  0.762188  0.616309  0.414413  0.251110
2019-04-09  0.870564  0.114147  0.215091  0.305864
2019-04-16  0.329001  0.600684  0.254155  0.036786
2019-04-23  0.011036  0.723234  0.914072  0.522628
2019-04-30  0.563203  0.278933  0.252296  0.503542
2019-05-07  0.995268  0.284004  0.838464  0.276085
2019-05-14  0.958454  0.305987  0.946705  0.023118
2019-05-21  0.684360  0.367712  0.712762  0.647912
2019-05-28  0.514436  0.340526  0.732959  0.232305
2019-06-04  0.758317  0.403854  0.042772  0.453002
2019-06-11  0.785260  0.361093  0.866071  0.660303
2019-06-18  0.031422  0.881687  0.019963  0.031086
2019-06-25  0.508432  0.287298  0.908995  0.910265
2019-07-02  0.801426  0.802490  0.906285  0.884040
2019-07-09  0.578696  0.890757  0.999995  0.441878
2019-07-16  0.238991  0.724177  0.201557  0.760173
2019-07-23  0.580183  0.584209  0.358585  0.532481
...              ...       ...       ...       ...
2020-05-05  0.866713  0.574417  0.365481  0.186538
2020-05-12  0.581403  0.994743  0.409043  0.790373
2020-05-19  0.424992  0.916970  0.548089  0.718270
2020-05-26  0.125183  0.162828  0.452425  0.821146
2020-06-02  0.074893  0.617740  0.268926  0.200680
2020-06-09  0.076244  0.653458  0.741312  0.232825
2020-06-16  0.686418  0.861940  0.138842  0.961792
2020-06-23  0.414184  0.604049  0.632874  0.849633
2020-06-30  0.155461  0.774678  0.925475  0.660057
2020-07-07  0.128928  0.618141  0.088857  0.616343
2020-07-14  0.053327  0.478246  0.774477  0.432372
2020-07-21  0.921403  0.472522  0.634120  0.008731
2020-07-28  0.953680  0.098717  0.559101  0.521496
2020-08-04  0.062065  0.985976  0.171523  0.486240
2020-08-11  0.506540  0.217138  0.225415  0.767861
2020-08-18  0.942311  0.655711  0.403414  0.381509
2020-08-25  0.513259  0.781887  0.648971  0.669172
2020-09-01  0.590973  0.702421  0.004965  0.999628
2020-09-08  0.773044  0.917072  0.734528  0.729097
2020-09-15  0.298187  0.413525  0.888911  0.006560
2020-09-22  0.418618  0.487217  0.448197  0.391009
2020-09-29  0.957265  0.354686  0.194128  0.030932
2020-10-06  0.196781  0.947973  0.148090  0.529975
2020-10-13  0.369991  0.956574  0.791488  0.871893
2020-10-20  0.057797  0.539319  0.686678  0.504112
2020-10-27  0.834816  0.585229  0.520815  0.470099
2020-11-03  0.050792  0.699330  0.356648  0.277251
2020-11-10  0.714616  0.082487  0.093985  0.863519
2020-11-17  0.154942  0.372519  0.664746  0.144709
2020-11-24  0.924304  0.985693  0.929167  0.421107

[100 rows x 4 columns]

### truncate() up to 2019.3.5

In [7]:
long_df.truncate(after = '3/5/2019')

                  BC        AB        ON        QC
2019-01-01  0.958343  0.140084  0.742973  0.520276
2019-01-08  0.683839  0.133487  0.914760  0.673614
2019-01-15  0.165421  0.643793  0.267225  0.037988
2019-01-22  0.812348  0.754504  0.135546  0.156330
2019-01-29  0.276116  0.696874  0.101818  0.530066
2019-02-05  0.424540  0.876333  0.760724  0.440854
2019-02-12  0.060537  0.007704  0.885062  0.591942
2019-02-19  0.557457  0.162332  0.777543  0.802119
2019-02-26  0.293810  0.577668  0.381289  0.269108
2019-03-05  0.951365  0.187783  0.274313  0.572033

In [8]:
long_df.loc['2020/5']

                  BC        AB        ON        QC
2020-05-05  0.866713  0.574417  0.365481  0.186538
2020-05-12  0.581403  0.994743  0.409043  0.790373
2020-05-19  0.424992  0.916970  0.548089  0.718270
2020-05-26  0.125183  0.162828  0.452425  0.821146

In [67]:
long_df.loc['2020-5']

                  BC        AB        ON        QC
2020-05-05  0.672891  0.964552  0.912844  0.376813
2020-05-12  0.876646  0.534100  0.557070  0.166904
2020-05-19  0.149630  0.690744  0.525476  0.729189
2020-05-26  0.349221  0.321561  0.310499  0.924782

In [68]:
long_df.loc['5-2020']

                  BC        AB        ON        QC
2020-05-05  0.672891  0.964552  0.912844  0.376813
2020-05-12  0.876646  0.534100  0.557070  0.166904
2020-05-19  0.149630  0.690744  0.525476  0.729189
2020-05-26  0.349221  0.321561  0.310499  0.924782

## Frequencsies, daterange() and date offset

In [69]:
pd.date_range('2014-5-1', '2015/4/1')

DatetimeIndex(['2014-05-01', '2014-05-02', '2014-05-03', '2014-05-04',
               '2014-05-05', '2014-05-06', '2014-05-07', '2014-05-08',
               '2014-05-09', '2014-05-10',
               ...
               '2015-03-23', '2015-03-24', '2015-03-25', '2015-03-26',
               '2015-03-27', '2015-03-28', '2015-03-29', '2015-03-30',
               '2015-03-31', '2015-04-01'],
              dtype='datetime64[ns]', length=336, freq='D')

In [70]:
pd.date_range(start = '2014-5-1', periods = 20)

DatetimeIndex(['2014-05-01', '2014-05-02', '2014-05-03', '2014-05-04',
               '2014-05-05', '2014-05-06', '2014-05-07', '2014-05-08',
               '2014-05-09', '2014-05-10', '2014-05-11', '2014-05-12',
               '2014-05-13', '2014-05-14', '2014-05-15', '2014-05-16',
               '2014-05-17', '2014-05-18', '2014-05-19', '2014-05-20'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range(end = '2014-5-1 12:54:21', periods = 20)

DatetimeIndex(['2014-04-12 12:54:21', '2014-04-13 12:54:21',
               '2014-04-14 12:54:21', '2014-04-15 12:54:21',
               '2014-04-16 12:54:21', '2014-04-17 12:54:21',
               '2014-04-18 12:54:21', '2014-04-19 12:54:21',
               '2014-04-20 12:54:21', '2014-04-21 12:54:21',
               '2014-04-22 12:54:21', '2014-04-23 12:54:21',
               '2014-04-24 12:54:21', '2014-04-25 12:54:21',
               '2014-04-26 12:54:21', '2014-04-27 12:54:21',
               '2014-04-28 12:54:21', '2014-04-29 12:54:21',
               '2014-04-30 12:54:21', '2014-05-01 12:54:21'],
              dtype='datetime64[ns]', freq='D')

In [73]:
# the 'BM' in freq is refered to as time series frequencies
pd.date_range('2014-5-1', '2015/4/1', freq='BM')

DatetimeIndex(['2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29',
               '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31',
               '2015-01-30', '2015-02-27', '2015-03-31'],
              dtype='datetime64[ns]', freq='BM')

In [14]:
from pandas.tseries.offsets import Hour, Minute, Second

In [12]:
hour = Hour()
hour

In [13]:
four_hour = Hour(4)
four_hour

In [15]:
pd.date_range('2014-5-1', '2014/5/2', freq='4H')

DatetimeIndex(['2014-05-01 00:00:00', '2014-05-01 04:00:00',
               '2014-05-01 08:00:00', '2014-05-01 12:00:00',
               '2014-05-01 16:00:00', '2014-05-01 20:00:00',
               '2014-05-02 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [16]:
pd.date_range('2014-5-1', '2014/5/2', freq='1H30Min')

DatetimeIndex(['2014-05-01 00:00:00', '2014-05-01 01:30:00',
               '2014-05-01 03:00:00', '2014-05-01 04:30:00',
               '2014-05-01 06:00:00', '2014-05-01 07:30:00',
               '2014-05-01 09:00:00', '2014-05-01 10:30:00',
               '2014-05-01 12:00:00', '2014-05-01 13:30:00',
               '2014-05-01 15:00:00', '2014-05-01 16:30:00',
               '2014-05-01 18:00:00', '2014-05-01 19:30:00',
               '2014-05-01 21:00:00', '2014-05-01 22:30:00',
               '2014-05-02 00:00:00'],
              dtype='datetime64[ns]', freq='90T')

### week of month 
For example third friday of each month

In [17]:
pd.date_range('2014-5-1', '2015/5/2', freq='WOM-3FRI')

DatetimeIndex(['2014-05-16', '2014-06-20', '2014-07-18', '2014-08-15',
               '2014-09-19', '2014-10-17', '2014-11-21', '2014-12-19',
               '2015-01-16', '2015-02-20', '2015-03-20', '2015-04-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

## Shifting and lagging

In [18]:
df2 = pd.DataFrame(np.random.rand(10,4), 
                     index = pd.date_range('1/1/2000', periods=10, freq='M'), 
                     columns = ['BC', 'AB', 'ON', 'QC'])
df2

                  BC        AB        ON        QC
2000-01-31  0.249817  0.877709  0.605885  0.519853
2000-02-29  0.737301  0.507585  0.082871  0.844742
2000-03-31  0.228534  0.325019  0.219548  0.481319
2000-04-30  0.049844  0.423265  0.669257  0.355176
2000-05-31  0.474872  0.828781  0.016064  0.198094
2000-06-30  0.993122  0.132734  0.893075  0.324890
2000-07-31  0.674163  0.708233  0.320663  0.732701
2000-08-31  0.038471  0.062586  0.982595  0.838898
2000-09-30  0.347769  0.566961  0.908593  0.956009
2000-10-31  0.143960  0.895207  0.036667  0.183649

In [82]:
df2.shift(2)

                  BC        AB        ON        QC
2000-01-31       NaN       NaN       NaN       NaN
2000-02-29       NaN       NaN       NaN       NaN
2000-03-31  0.391620  0.100888  0.883165  0.063428
2000-04-30  0.084843  0.715274  0.457376  0.893390
2000-05-31  0.638747  0.921422  0.274055  0.243187
2000-06-30  0.042082  0.038662  0.752475  0.677663
2000-07-31  0.806955  0.043258  0.814992  0.230201
2000-08-31  0.868624  0.759095  0.057826  0.201055
2000-09-30  0.730412  0.601669  0.123824  0.020490
2000-10-31  0.220742  0.859498  0.383403  0.151133

In [83]:
df2.shift(2, freq='M')

                  BC        AB        ON        QC
2000-03-31  0.391620  0.100888  0.883165  0.063428
2000-04-30  0.084843  0.715274  0.457376  0.893390
2000-05-31  0.638747  0.921422  0.274055  0.243187
2000-06-30  0.042082  0.038662  0.752475  0.677663
2000-07-31  0.806955  0.043258  0.814992  0.230201
2000-08-31  0.868624  0.759095  0.057826  0.201055
2000-09-30  0.730412  0.601669  0.123824  0.020490
2000-10-31  0.220742  0.859498  0.383403  0.151133
2000-11-30  0.781675  0.892017  0.996005  0.051130
2000-12-31  0.125197  0.679480  0.859880  0.879365

In [20]:
# then it becomes the first day of each month
df2.shift(1, freq='D')

                  BC        AB        ON        QC
2000-02-01  0.249817  0.877709  0.605885  0.519853
2000-03-01  0.737301  0.507585  0.082871  0.844742
2000-04-01  0.228534  0.325019  0.219548  0.481319
2000-05-01  0.049844  0.423265  0.669257  0.355176
2000-06-01  0.474872  0.828781  0.016064  0.198094
2000-07-01  0.993122  0.132734  0.893075  0.324890
2000-08-01  0.674163  0.708233  0.320663  0.732701
2000-09-01  0.038471  0.062586  0.982595  0.838898
2000-10-01  0.347769  0.566961  0.908593  0.956009
2000-11-01  0.143960  0.895207  0.036667  0.183649

## Resampling

In [21]:
df3 = pd.DataFrame(np.random.rand(100,4), 
                     index = pd.date_range('1/1/2000', periods=100, freq='D'), 
                     columns = ['BC', 'AB', 'ON', 'QC'])
df3.head(4)

                  BC        AB        ON        QC
2000-01-01  0.893757  0.111178  0.827389  0.093628
2000-01-02  0.305950  0.157549  0.863000  0.035351
2000-01-03  0.206335  0.397759  0.939993  0.759062
2000-01-04  0.513790  0.706284  0.188356  0.931982

In [23]:
df3.resample('M').sum()

                   BC         AB         ON         QC
2000-01-31  16.545218  15.767990  18.014917  16.584920
2000-02-29  14.873864  16.772331  14.854562  14.301667
2000-03-31  15.528021  14.023484  16.807225  15.085411
2000-04-30   4.864064   5.482613   2.099345   4.011822

## Aggregation

In [29]:
df4 = pd.DataFrame(np.arange(100), 
                     index = pd.date_range('1/1/2000', periods=100, freq='T'), 
                     columns = ['BC'])
df4.head(8)
# freq = 'T' is the same as 'Min'

                     BC
2000-01-01 00:00:00   0
2000-01-01 00:01:00   1
2000-01-01 00:02:00   2
2000-01-01 00:03:00   3
2000-01-01 00:04:00   4
2000-01-01 00:05:00   5
2000-01-01 00:06:00   6
2000-01-01 00:07:00   7

In [30]:
df4.resample('5Min', closed='right').sum()

                      BC
1999-12-31 23:55:00    0
2000-01-01 00:00:00   15
2000-01-01 00:05:00   40
2000-01-01 00:10:00   65
2000-01-01 00:15:00   90
2000-01-01 00:20:00  115
2000-01-01 00:25:00  140
2000-01-01 00:30:00  165
2000-01-01 00:35:00  190
2000-01-01 00:40:00  215
2000-01-01 00:45:00  240
2000-01-01 00:50:00  265
2000-01-01 00:55:00  290
2000-01-01 01:00:00  315
2000-01-01 01:05:00  340
2000-01-01 01:10:00  365
2000-01-01 01:15:00  390
2000-01-01 01:20:00  415
2000-01-01 01:25:00  440
2000-01-01 01:30:00  465
2000-01-01 01:35:00  390

# Example

This example is from 

https://www.datacamp.com/community/tutorials/converting-strings-datetime-objects

eth that contains some historical data on ether, a cryptocurrency whose blockchain is generated by the Ethereum platform. Your dataset has the following columns:
 
date: Date, daily at 00:00 UTC.

txVolume: Unadjusted measure of the total value, in US dollars, of outputs on the blockchain.

txCount: Number of transactions happening on the public blockchain.

marketCap: Unit price in US dollars multiplied by the number of units in circulation.

price: Opening price in US dollars at 00:00 UTC.

generatedCoins: Number of new coins that have been mined into existence.

exchangeVolume: The volume, measured by US dollars, at exchanges like GDAX and Bitfinex.

Read the dataset:

In [41]:
import pandas as pd
from  datetime  import  datetime

df = pd.read_csv("eth.csv")
df.head()

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses,medianTxValue(USD),medianFee,averageDifficulty,paymentCount,blockSize,blockCount
0,2015-07-30,NaN,NaN,NaN,NaN,NaN,NaN,39311.09375,NaN,NaN,NaN,NaN,1.213355e+11,NaN,4449897,6911
1,2015-07-31,NaN,NaN,NaN,NaN,NaN,NaN,36191.71875,NaN,NaN,NaN,NaN,6.029419e+11,NaN,3994458,6863
2,2015-08-01,NaN,NaN,NaN,NaN,NaN,NaN,27702.18750,NaN,NaN,NaN,NaN,8.872542e+11,NaN,3044344,5293
3,2015-08-02,NaN,NaN,NaN,NaN,NaN,NaN,28227.18750,NaN,NaN,NaN,NaN,1.020254e+12,NaN,3112348,5358
4,2015-08-03,NaN,NaN,NaN,NaN,NaN,NaN,27976.71875,NaN,NaN,NaN,NaN,1.125837e+12,NaN,3099953,5280

And let's confirm that the date column needs to be converted:

In [42]:
type(df.date)

pandas.core.series.Series

change the date column to datetime

In [43]:
df['date'] =  pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 16 columns):
date                     1229 non-null datetime64[ns]
txVolume(USD)            1221 non-null float64
adjustedTxVolume(USD)    1221 non-null float64
txCount                  1221 non-null float64
marketcap(USD)           1221 non-null float64
price(USD)               1221 non-null float64
exchangeVolume(USD)      1221 non-null float64
generatedCoins           1229 non-null float64
fees                     1221 non-null float64
activeAddresses          1221 non-null float64
medianTxValue(USD)       1221 non-null float64
medianFee                1221 non-null float64
averageDifficulty        1229 non-null float64
paymentCount             1221 non-null float64
blockSize                1229 non-null int64
blockCount               1229 non-null int64
dtypes: datetime64[ns](1), float64(13), int64(2)
memory usage: 153.7 KB

Now that you have datetime objects as your date column, you can extract specific components of the date such as the month, day, or year, all of which are available as the object's attributes:

In [44]:
print(df['date'][0].month)
print(df['date'][0].day)
print(df['date'][0].year)

7
30
2015

Date attributes are frequently used to group data by a particular time frame. For example, you can see how many ethers were generated on a yearly basis:

In [46]:
%matplotlib
from collections import defaultdict
import matplotlib.pyplot as plt

# Initialize defaultdict of type float
yearly_total_coins = defaultdict(float)

# Loop over the rows of eth
for day in df.iterrows():
    # Get the date
    dates = day[1][0]

    # Get the number of coins generated
    num_coins = day[1][5]

    # Add the total number of coins to the current value for the year
    yearly_total_coins[dates.year] += num_coins

# Print yearly_total_coins
print(yearly_total_coins)

# Visualize aggregated data
plt.bar(range(len(yearly_total_coins)), list(yearly_total_coins.values()), align='center')
plt.xticks(range(len(yearly_total_coins)), list(yearly_total_coins.keys()))
plt.title('# of ethers generated by year')
plt.show()

Using matplotlib backend: MacOSX
defaultdict(<class 'float'>, {2015: nan, 2016: 3573.5235900000002, 2017: 81006.38000000002, 2018: 174756.5999999999})