# Data wrangling lab 1
In this lab, you will experiemnt how to explore and analyze your data with a data wrangling tool, as well as performing some functions on NumPy arrays. 

**The questions that you should answer for Data wrangler tool are typed in bold and specified with numbers.**

## Data wrangler tool (40 point)
Go to the Trifacta website: https://www.trifacta.com and sign up to use the free version of the tool. Find "Free Wrangler" button to proceed.

### Import data
Explore various options that Trifacta provides to transfoRM your data. 

1- Import the flight_delay_2017.csv dataset to the tool. This is an open dataset from https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236. 

2- Take a look at the data and the data fields. You can find the description of each column name (feature) in the provided link from transtats.bts.gov. You need to learn about the features and the meaning of each column and the values in order to be able to analyze the data.

### Explore data

3- Take a look at the data type and distribution of each feature.

4- Make any changes that should be done for the analysis. For example, if a date feature is treated as integer, you can easily change the type to DataTime in the wrangler tool.

5- Explore the missing values for each feature. Is there missing values? Do they need to be replaced by some values? Do you need to eliminate the records that have missing values?

Answer: 
1. **Is there any changes required for the data type of features (columns)?** (2 points)

## Changes for the data type
1. data type of OP_CARRIER_AIRLINE_ID should be string instead of zip.       
2. data type of ORIGIN_AIRPORT_ID should be string instead of zip.           
3. data type of ORIGIN_AIRPORT_SEQ_ID should be string instead of number.    
4. data type of ORIGIN_CITY_MARKET_ID should be string instead of zip.       
5. data type of ORIGIN_WAC should be string instead of number.               
6. data type of DEST_AIRPORT_ID should be string instead of zip.             
7. data type of DEST_AIRPORT_SEQ_ID should be string instead of number.      
8. data type of DEST_CITY_MARKET_ID should be string instead of zip.         
9. data type of DEST_WAC should be string instead of number.                 
10. data type of CANCELLED should be boolean instead of decimal.

2. **Is there any missing values? Shoule be replace/manipulate/delete them? Why?**  (3 points)

#### Q2 Yes, there are some missing values. In real world, it may happens if there are some missing values. So just set them to null because we don't have them in record. If we set them as 0 it will affect the final results.

### Analyze data

6- Let's run some basic analysis to get an understanding of the major causes of flight delays in each MONTH of the year. Explore the top toolbar and sum over the number of minutes that flights are delayed due to CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, or LATE_AIRCRAFT_DELAY separetely. 
Answer the following questions:
3. **What is the maximum flight delay in minutes for each of the delay features CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, or LATE_AIRCRAFT_DELAY?** (3 points)

#### Q3 the maximum flight delay in minutes for each of the following: this can be read on the top of each column.
#### CARRIER_DELAY: 1315 minutes
#### WEATHER_DELAY: 1329 minutes
#### NAS_DELAY: 1457 minutes
#### SECURITY_DELAY:  250 minutes
#### LATE_AIRCRAFT_DELAY: 1333 minutes

4. **Accumulate over each delay cause separately and find out which of the CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, or LATE_AIRCRAFT_DELAY has caused more delays in minutes?** (4 points)

#### Q4 CARRIER_DELAY (398.22 K minutes) caused more delays in minutes.

5. **What is the sum of minutes that each of CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, or LATE_AIRCRAFT_DELAY has caused and delayed flights?** (4 points)

#### Q5 sum of minutes delayed
#### sum(CARRIER_DELAY): 398.22 K minutes
#### sum(WEATHER_DELAY): 48750 minutes
#### sum(NAS_DELAY): 300.86 K minutes
#### sum(SECURITY_DELAY): 1599 minutes
#### sum(LATE_AIRCRAFT_DELAY): 341.78 K minutes

6. **What is the average delay minutes for each of the delay causes CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, or LATE_AIRCRAFT_DELAY?** (4 points)

#### Q6 average delay in minutes (in 2 decimal)
#### average(CARRIER_DELAY):  24.75 minutes
#### average(WEATHER_DELAY):  3.03 minutes
#### average(NAS_DELAY):  18.70 minutes
#### average(SECURITY_DELAY): 0.10 minutes
#### average(LATE_AIRCRAFT_DELAY): 21.24 minutes

7- Specify the analysis in more details by including the delay departure for each origin city. Remember that DEP_DELAY is the Difference in minutes between scheduled and actual departure time. And, Early departures show negative numbers.

#### just top 10

7. **What is the total delay departure (DEP_DELAY) for each origin airport (ORIGIN)?** (4 points)

#### group by (ORIGIN) Values sum(DEP_DELAY)

|ORIGIN | sum_DEP_DELAY|
| --- | ---|
| ATL |65297
| LAX |61953
| ORD |39193
| SLC |35223
| DEN |34501
| SFO |33530
| DFW |31210
| JFK |30296
| MSP |26179
| FLL |26042

8. **What is the total delay departure (DEP_DELAY) for each origin city (ORIGIN_CITY_NAME)?** (4 points)

#### group by (ORIGIN_CITY_NAME) sum(DEP_DELAY)

ORIGIN_CITY_NAME | sum_DEP_DELAY
 --- | ---
Atlanta,·GA       |65297
Los·Angeles,·CA   |61953
Chicago,·IL       |40291
New·York,·NY      |40241
Salt·Lake·City,·UT|35223
Denver,·CO        |34501
San·Francisco,·CA |33530
Dallas/Fort·Worth,·TX|31210
Minneapolis,·MN      |26179
Fort·Lauderdale,·FL  |26042


9. **What is the average delay departure (DEP_DELAY) for each origin airport (ORIGIN)?** (4 points)

#### group by (ORIGIN) average (DEP_DELAY)

ORIGIN | average_DEP_DELAY
--- |---
MFR|68.1372549019608
MOT|67.14285714285714
RDD|66.38095238095238
JAC|61.39583333333333
HDN|45.25806451612904
GCC|44.52173913043478
ASE|43.43617021276596
CMX|39.85714285714286
HRL|38
RDM|35.49090909090909

10. **What is the average delay departure (DEP_DELAY) for each origin city (ORIGIN_CITY_NAME)?** (4 points)

#### group by (ORIGIN_CITY_NAME) average (DEP_DELAY)

ORIGIN_CITY_NAME | sum_DEP_DELAY
 --- | ---
Medford,·OR|68.1372549019608
Minot,·ND|67.14285714285712
Redding,·CA|66.38095238095238
Jackson,·WY|61.395833333333286
Hayden,·CO|45.258064516129025
Gillette,·WY|44.52173913043478
Aspen,·CO|43.43617021276597
Hancock/Houghton,·MI|39.85714285714287
Harlingen/San·Benito,·TX|38
Bend/Redmond,·OR|35.49090909090907

11. **What is the ORIGIN airport that has the highest number for the DEP_DELAY? Use Sort option to get results.** (4 points)

#### ATL airport (ORIGIN) has the highest number for the DEP_DELAY (5924) 

Remember that: 
- you always can create a new column and store the results. 
- you can use any of the options in the wrangler toolbar to get some results.
- grouping might be a choice for some analytics.

For this part, wtite and execute your code.

# NumPy Arrays (60 points)

NumPy arrays are said be more efficient when performing operations on numbers. Are they really?

Let's try a basic example. Note the using time() is not the best way to profile the execution time of your program. 

First, import numpy arrays as np and then run the following code.

In [90]:
l = range(1000)
l
%timeit [i**2 for i in l]

341 µs ± 4.59 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [91]:
import numpy as np
a = np.arange(1000)
a
%timeit a**2

1.35 µs ± 13.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

1. **What do you conclude? Which one has less execution time?** (1 point)

#### when execute with numpy (np) function, it is showing much less time than  non-numpy function. 

#### in this case, numpy is much more efficient. It only takes only 1.35 µs ± 13.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each) than non-numpy function 341 µs ± 4.59 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each) while numpy function has even 1000 times more loops.

2. **What does the above code do?**  (1 point)

### l = range(1000)
#### l creates a range (0,1000)
#### timeit function is the execution time cost for i**2 in 1000 numbers using a for loop

#### create a np.arrange (1000)
#### timeit function is the execution time cost for power of 2 in the 1000 numbers

3. Create an identity matrix of size 5 (https://en.wikipedia.org/wiki/Identity_matrix) in NumPy.  (3 point)

In [2]:
import numpy as np
x1=np.eye(5)
x1

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

4. Create a diagonal matrix of size 5 in NumPy. Use **np.diag?** to view the signature of the function. The diagonal should include numbers: 1, 2, 3, 4, 5.   (3 point)

In [9]:
x2=np.diag([1,2,3,4,5])
x2

array([[1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 5]])

5. Add two arrays together and name is sum.   (3 point)

In [10]:
sum=x1+x2
sum

array([[2., 0., 0., 0., 0.],
       [0., 3., 0., 0., 0.],
       [0., 0., 4., 0., 0.],
       [0., 0., 0., 5., 0.],
       [0., 0., 0., 0., 6.]])

6. What is the power 3 of sum array?  (3 point)

In [11]:
sum*sum*sum

array([[  8.,   0.,   0.,   0.,   0.],
       [  0.,  27.,   0.,   0.,   0.],
       [  0.,   0.,  64.,   0.,   0.],
       [  0.,   0.,   0., 125.,   0.],
       [  0.,   0.,   0.,   0., 216.]])

7. Create an array of size (6, 6) and fill it with numbers from 0 to 36 and name it a.   (3 point)

In [100]:
a=np.arange(0,36).reshape(6,6)
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

8. Write code that selects these elements from the array a: 18, 20, 23, 24, 26, 29, 30, 32, 35.   (3 point)

In [102]:
Q8=[a[3,0],a[3,2],a[3,5],a[4,0],a[4,2],a[4,5],a[5,0],a[5,2],a[5,5]]
Q8

[18, 20, 23, 24, 26, 29, 30, 32, 35]

9. Create a random vector of size 30 and find the mean value.   (3 point)

In [5]:
Q9=np.random.randint(low=0, high=100,size=30)
m=Q9.mean()
m

44.46666666666667

10. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal.   (3 point)

In [24]:
Q10=np.diag(1+np.arange(4),k=-1)
Q10

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

11. Create a 8x8 matrix and fill it with a checkerboard pattern. Use zero and one to represent black and white respectively.   (3 point)

In [35]:
Q11 = np.zeros((8,8),dtype=int)
Q11[1::2,::2] = 1
Q11[::2,1::2] = 1
Q11

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

12. Create a checkerboard 8x8 matrix using the tile function.   (3 point)

In [29]:
Q12=np.tile(np.array([[0,1],[1,0]]),(4,4))
Q12

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

Create two matrices of size 5x3 and 3x2 using ones. 
13. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product).   (3 point)

Hint: Use dot function.

In [36]:
Q13=np.dot(np.ones((5,3)),np.ones((3,2)))
Q13

array([[3., 3.],
       [3., 3.],
       [3., 3.],
       [3., 3.],
       [3., 3.]])

14. Create a vector of size 10 with values ranging from 0 to 1, both excluded.  (3 point)

In [39]:
Q14=np.linspace(0,1,12,endpoint=True)[1:-1]
Q14

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

15. Create a random vector of size 10 and sort it.   (3 point)

In [52]:
Q15=np.random.random(10)
Q15.sort()
Q15

array([0.11737871, 0.14727304, 0.25184204, 0.29400238, 0.29763417,
       0.31443203, 0.63974115, 0.79688303, 0.95132503, 0.97047879])

16. Create random vector of size 10 and replace the maximum value by 0.  (3 point)

In [61]:
Q16=np.random.random(10)
Q16[Q16.argmax()]=0
Q16

array([0.65365318, 0.15978733, 0.74638866, 0.80518589, 0.36996633,
       0.        , 0.03070098, 0.60315126, 0.45225449, 0.77127741])

17. Print the minimum and maximum representable value for each numpy scalar type. (for int32 and int64 as well as float 32 and float 64.   (3 point)

In [110]:
for dtype in [np.int32, np.int64]:
   print("minimum representable value:",np.iinfo(dtype).min, dtype)
   print("maximum representable value:",np.iinfo(dtype).max,dtype)
for dtype in [np.float32, np.float64]:
    print("minimum representable value:", np.finfo(dtype).min,dtype)
    print("maximum representable value:",np.finfo(dtype).max,dtype)
    print(np.finfo(dtype).eps)

minimum representable value: -2147483648 <class 'numpy.int32'>
maximum representable value: 2147483647 <class 'numpy.int32'>
minimum representable value: -9223372036854775808 <class 'numpy.int64'>
maximum representable value: 9223372036854775807 <class 'numpy.int64'>
minimum representable value: -3.4028235e+38 <class 'numpy.float32'>
maximum representable value: 3.4028235e+38 <class 'numpy.float32'>
1.1920929e-07
minimum representable value: -1.7976931348623157e+308 <class 'numpy.float64'>
maximum representable value: 1.7976931348623157e+308 <class 'numpy.float64'>
2.220446049250313e-16

18. Considering a four dimensions array, how to get sum over the last two axis at once?   (3 point)

hint: Create a random interger array. Dimensionas are 3x4x3x4.

In [77]:
Q18=np.random.randint(0,10,(3,4,3,4))
Q18sum=Q18.reshape(Q18.shape[:-2]+(-1,)).sum(axis=-1)
Q18sum

array([[38, 54, 38, 78],
       [46, 36, 51, 51],
       [52, 83, 59, 51]])

19. Consider the vector [1, 2, 3, 4, 5], how to build a new vector with 3 consecutive zeros interleaved between each value?   (5 point)

In [86]:
Q = np.array([1,2,3,4,5])
nz = 3
Q19 = np.zeros(len(Z) + (len(Z)-1)*(nz))
Q19[::nz+1] = Q
Q19

array([1., 0., 0., 0., 2., 0., 0., 0., 3., 0., 0., 0., 4., 0., 0., 0., 5.])

20. How to swap the first two rows of an array?   (5 point)

In [30]:
## answer
A = np.arange(25).reshape(5,5)
A[[1,0]]=A[[0,1]]
#print(A[[1,0]])
print(A)

[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]